$base-header-color: #b9dbed;

$base-input-border-color: #9ed1ec;
$active-input-border-color: #68a6c4;

$base-font-color: #1a1a1a;

$layout-card-width: 150px;

$layout-loader-first: #9ed1ec;
$layout-loader-second: #68a6c4;

$layout-header-height: 60px;